option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    PORT: 5000
    API_VERSION: v1
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: none
  aws:ec2:instances:
    InstanceTypes: t3.micro,t3.small
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true
    DeleteOnTerminate: false
    RetentionInDays: 7
